body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333333;
  background-color: #dc0606;
  background-image: url('/img/bg.png');
  background-position: top left;
  background-repeat: repeat;
}

#container {
  width: 1298px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding:0;
}

header {
    display: block;
    padding: 40px 0 40px 0;
}

header h1 {
    height: 118px;
    background: url('/img/logo.png') top left no-repeat;
    margin: 0;
    padding: 0 0 0 160px;
    font-size: 3em;
    color: #DC0606;
}

#content, #footer {
  margin: 0;
  padding: 0 120px 0 120px;
}

a {
  color: #29aae1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
